Importando o Pandas e lendo o arquivo.csv.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('Myocardial infarction complications Database.csv')
df.head(1700)

,ID,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,IBS_NASL,GB,SIM_GIPERT,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,1,77.0,1,2.0,1.0,1.0,2.0,NaN,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,52.0,1,0.0,0.0,0.0,2.0,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,68.0,0,0.0,0.0,0.0,2.0,NaN,2.0,0.0,...,0,0,0,0,0,0,1,0,0,0
4,5,60.0,1,0.0,0.0,0.0,2.0,NaN,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,1696,77.0,0,0.0,4.0,2.0,1.0,NaN,2.0,0.0,...,0,0,1,0,1,0,0,0,0,3
1696,1697,70.0,0,0.0,6.0,2.0,1.0,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1
1697,1698,55.0,1,3.0,6.0,2.0,2.0,NaN,0.0,0.0,...,0,0,0,0,0,0,0,1,0,6
1698,1699,79.0,0,2.0,2.0,2.0,1.0,NaN,2.0,0.0,...,0,0,0,1,0,0,0,0,0,1
1699,1700,63.0,1,2.0,NaN,NaN,NaN,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1

Deletando colunas com cerca de 30% atÃ© 90% de valores vazios e colunas referentes a outros tipos de complicaÃ§Ãµes que nÃ£o sÃ£o o nosso foco no momento.

In [2]:
delete_list = ["ID", "IBS_NASL", "KFK_BLOOD", "JELUD_TAH", "FIBR_JELUD", "A_V_BLOK", "OTEK_LANC", "RAZRIV", "DRESSLER", "REC_IM", "P_IM_STEN", "LET_IS", "PREDS_TAH", "FIBR_PREDS", "D_AD_KBRIG", "S_AD_KBRIG", "GIPO_K", "NA_KB", "LID_KB"]
df = df.drop(delete_list, axis=1)

CriaÃ§Ã£o de um dicionÃ¡rio apenas para saber qual o index de cada coluna, caso seja necessÃ¡rio.

In [3]:
columns_list = df.columns.tolist()

index_dictionary = {}
for column in columns_list:
    index = columns_list.index(column)
    index_dictionary[column] = index
print(index_dictionary)

{'AGE': 0, 'SEX': 1, 'INF_ANAM': 2, 'STENOK_AN': 3, 'FK_STENOK': 4, 'IBS_POST': 5, 'GB': 6, 'SIM_GIPERT': 7, 'DLIT_AG': 8, 'ZSN_A': 9, 'nr_11': 10, 'nr_01': 11, 'nr_02': 12, 'nr_03': 13, 'nr_04': 14, 'nr_07': 15, 'nr_08': 16, 'np_01': 17, 'np_04': 18, 'np_05': 19, 'np_07': 20, 'np_08': 21, 'np_09': 22, 'np_10': 23, 'endocr_01': 24, 'endocr_02': 25, 'endocr_03': 26, 'zab_leg_01': 27, 'zab_leg_02': 28, 'zab_leg_03': 29, 'zab_leg_04': 30, 'zab_leg_06': 31, 'S_AD_ORIT': 32, 'D_AD_ORIT': 33, 'O_L_POST': 34, 'K_SH_POST': 35, 'MP_TP_POST': 36, 'SVT_POST': 37, 'GT_POST': 38, 'FIB_G_POST': 39, 'ant_im': 40, 'lat_im': 41, 'inf_im': 42, 'post_im': 43, 'IM_PG_P': 44, 'ritm_ecg_p_01': 45, 'ritm_ecg_p_02': 46, 'ritm_ecg_p_04': 47, 'ritm_ecg_p_06': 48, 'ritm_ecg_p_07': 49, 'ritm_ecg_p_08': 50, 'n_r_ecg_p_01': 51, 'n_r_ecg_p_02': 52, 'n_r_ecg_p_03': 53, 'n_r_ecg_p_04': 54, 'n_r_ecg_p_05': 55, 'n_r_ecg_p_06': 56, 'n_r_ecg_p_08': 57, 'n_r_ecg_p_09': 58, 'n_r_ecg_p_10': 59, 'n_p_ecg_p_01': 60, 'n_p_ecg_p_03': 61, 'n_p_ecg_p_04': 62, 'n_p_ecg_p_05': 63, 'n_p_ecg_p_06': 64, 'n_p_ecg_p_07': 65, 'n_p_ecg_p_08': 66, 'n_p_ecg_p_09': 67, 'n_p_ecg_p_10': 68, 'n_p_ecg_p_11': 69, 'n_p_ecg_p_12': 70, 'fibr_ter_01': 71, 'fibr_ter_02': 72, 'fibr_ter_03': 73, 'fibr_ter_05': 74, 'fibr_ter_06': 75, 'fibr_ter_07': 76, 'fibr_ter_08': 77, 'K_BLOOD': 78, 'GIPER_NA': 79, 'NA_BLOOD': 80, 'ALT_BLOOD': 81, 'AST_BLOOD': 82, 'L_BLOOD': 83, 'ROE': 84, 'TIME_B_S': 85, 'R_AB_1_n': 86, 'R_AB_2_n': 87, 'R_AB_3_n': 88, 'NOT_NA_KB': 89, 'NITR_S': 90, 'NA_R_1_n': 91, 'NA_R_2_n': 92, 'NA_R_3_n': 93, 'NOT_NA_1_n': 94, 'NOT_NA_2_n': 95, 'NOT_NA_3_n': 96, 'LID_S_n': 97, 'B_BLOK_S_n': 98, 'ANT_CA_S_n': 99, 'GEPAR_S_n': 100, 'ASP_S_n': 101, 'TIKL_S_n': 102, 'TRENT_S_n': 103, 'ZSN': 104}

In [4]:
df.head()

,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,GB,SIM_GIPERT,DLIT_AG,ZSN_A,...,NOT_NA_2_n,NOT_NA_3_n,LID_S_n,B_BLOK_S_n,ANT_CA_S_n,GEPAR_S_n,ASP_S_n,TIKL_S_n,TRENT_S_n,ZSN
0,77.0,1,2.0,1.0,1.0,2.0,3.0,0.0,7.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0
1,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0
2,52.0,1,0.0,0.0,0.0,2.0,2.0,0.0,2.0,0.0,...,2.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0
3,68.0,0,0.0,0.0,0.0,2.0,2.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1
4,60.0,1,0.0,0.0,0.0,2.0,3.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0

Criando uma funÃ§Ã£o para saber se as colunas estÃ£o com valores vazios ou nÃ£o.

In [5]:
def verify_is_nan(df, column):
    is_nan = df[column].isna().any().any()
    if is_nan:
        print(f"Existem valores nulos na coluna {column}.\n")
    else:
        print(f"NÃ£o existem valores nulos na coluna {column}.\n")

Nesse trecho de cÃ³digo abaixo, estÃ¡ sendo aplicado uma tratativa de dados, preenchendo valores vazios por valores modais, medianos ou medios.

In [6]:

columns_list = df.columns

for column in columns_list:
    if column == "AGE" or column == "S_AD_ORIT" or column == "D_AD_ORIT" or column == "L_BLOOD" or column == "ROE" or column == "NA_BLOOD":
        median_columns = df[column].median()
        df[column].fillna(median_columns, inplace=True)
        df[column] = df[column].astype('int32')
        verify_is_nan(df, column)
    elif column == "AST_BLOOD" or column == "ALT_BLOOD" or column == "K_BLOOD" :
        mean_columns = df[column].mean()
        df[column].fillna(mean_columns, inplace=True)
        df[column] = df[column].astype('float64')
        verify_is_nan(df, column)
    elif column == "SEX":
        continue
    else:
        mode_columns = df[column].mode().values[0]
        df[column].fillna(mode_columns, inplace=True)
        df[column] = df[column].astype('int32')
        verify_is_nan(df, column)

NÃ£o existem valores nulos na coluna AGE.

NÃ£o existem valores nulos na coluna INF_ANAM.

NÃ£o existem valores nulos na coluna STENOK_AN.

NÃ£o existem valores nulos na coluna FK_STENOK.

NÃ£o existem valores nulos na coluna IBS_POST.

NÃ£o existem valores nulos na coluna GB.

NÃ£o existem valores nulos na coluna SIM_GIPERT.

NÃ£o existem valores nulos na coluna DLIT_AG.

NÃ£o existem valores nulos na coluna ZSN_A.

NÃ£o existem valores nulos na coluna nr_11.

NÃ£o existem valores nulos na coluna nr_01.

NÃ£o existem valores nulos na coluna nr_02.

NÃ£o existem valores nulos na coluna nr_03.

NÃ£o existem valores nulos na coluna nr_04.

NÃ£o existem valores nulos na coluna nr_07.

NÃ£o existem valores nulos na coluna nr_08.

NÃ£o existem valores nulos na coluna np_01.

NÃ£o existem valores nulos na coluna np_04.

NÃ£o existem valores nulos na coluna np_05.

NÃ£o existem valores nulos na coluna np_07.

NÃ£o existem valores nulos na coluna np_08.

NÃ£o existem valores nulos na coluna np_09.

NÃ£o existem valores nulos na coluna np_10.

NÃ£o existem valores nulos na coluna endocr_01.

NÃ£o existem valores nulos na coluna endocr_02.

NÃ£o existem valores nulos na coluna endocr_03.

NÃ£o existem valores nulos na coluna zab_leg_01.

NÃ£o existem valores nulos na coluna zab_leg_02.

NÃ£o existem valores nulos na coluna zab_leg_03.

NÃ£o existem valores nulos na coluna zab_leg_04.

NÃ£o existem valores nulos na coluna zab_leg_06.

NÃ£o existem valores nulos na coluna S_AD_ORIT.

NÃ£o existem valores nulos na coluna D_AD_ORIT.

NÃ£o existem valores nulos na coluna O_L_POST.

NÃ£o existem valores nulos na coluna K_SH_POST.

NÃ£o existem valores nulos na coluna MP_TP_POST.

NÃ£o existem valores nulos na coluna SVT_POST.

NÃ£o existem valores nulos na coluna GT_POST.

NÃ£o existem valores nulos na coluna FIB_G_POST.

NÃ£o existem valores nulos na coluna ant_im.

NÃ£o existem valores nulos na coluna lat_im.

NÃ£o existem valores nulos na coluna inf_im.

NÃ£o existem valores nulos na coluna post_im.

NÃ£o existem valores nulos na coluna IM_PG_P.

NÃ£o existem valores nulos na coluna ritm_ecg_p_01.

NÃ£o existem valores nulos na coluna ritm_ecg_p_02.

NÃ£o existem valores nulos na coluna ritm_ecg_p_04.

NÃ£o existem valores nulos na coluna ritm_ecg_p_06.

NÃ£o existem valores nulos na coluna ritm_ecg_p_07.

NÃ£o existem valores nulos na coluna ritm_ecg_p_08.

NÃ£o existem valores nulos na coluna n_r_ecg_p_01.

NÃ£o existem valores nulos na coluna n_r_ecg_p_02.

NÃ£o existem valores nulos na coluna n_r_ecg_p_03.

NÃ£o existem valores nulos na coluna n_r_ecg_p_04.

NÃ£o existem valores nulos na coluna n_r_ecg_p_05.

NÃ£o existem valores nulos na coluna n_r_ecg_p_06.

NÃ£o existem valores nulos na coluna n_r_ecg_p_08.

NÃ£o existem valores nulos na coluna n_r_ecg_p_09.

NÃ£o existem valores nulos na coluna n_r_ecg_p_10.

NÃ£o existem valores nulos na coluna n_p_ecg_p_01.

NÃ£o existem valores nulos na coluna n_p_ecg_p_03.

NÃ£o existem valores nulos na coluna n_p_ecg_p_04.

NÃ£o existem valores nulos na coluna n_p_ecg_p_05.

NÃ£o existem valores nulos na coluna n_p_ecg_p_06.

NÃ£o existem valores nulos na coluna n_p_ecg_p_07.

NÃ£o existem valores nulos na coluna n_p_ecg_p_08.

NÃ£o existem valores nulos na coluna n_p_ecg_p_09.

NÃ£o existem valores nulos na coluna n_p_ecg_p_10.

NÃ£o existem valores nulos na coluna n_p_ecg_p_11.

NÃ£o existem valores nulos na coluna n_p_ecg_p_12.

NÃ£o existem valores nulos na coluna fibr_ter_01.

NÃ£o existem valores nulos na coluna fibr_ter_02.

NÃ£o existem valores nulos na coluna fibr_ter_03.

NÃ£o existem valores nulos na coluna fibr_ter_05.

NÃ£o existem valores nulos na coluna fibr_ter_06.

NÃ£o existem valores nulos na coluna fibr_ter_07.

NÃ£o existem valores nulos na coluna fibr_ter_08.

NÃ£o existem valores nulos na coluna K_BLOOD.

NÃ£o existem valores nulos na coluna GIPER_NA.

NÃ£o existem valores nulos na coluna NA_BLOOD.

NÃ£o existem valores nulos na coluna ALT_BLOOD.

NÃ£o existem valores nulos na coluna AST_BLOOD.

NÃ£o existem valores nulos na coluna L_BLOOD.

NÃ£o existem valores nulos na coluna ROE.

NÃ£o existem valores nulos na coluna TIME_B_S.

NÃ£o existem valores nulos na coluna R_AB_1_n.

NÃ£o existem valores nulos na coluna R_AB_2_n.

NÃ£o existem valores nulos na coluna R_AB_3_n.

NÃ£o existem valores nulos na coluna NOT_NA_KB.

NÃ£o existem valores nulos na coluna NITR_S.

NÃ£o existem valores nulos na coluna NA_R_1_n.

NÃ£o existem valores nulos na coluna NA_R_2_n.

NÃ£o existem valores nulos na coluna NA_R_3_n.

NÃ£o existem valores nulos na coluna NOT_NA_1_n.

NÃ£o existem valores nulos na coluna NOT_NA_2_n.

NÃ£o existem valores nulos na coluna NOT_NA_3_n.

NÃ£o existem valores nulos na coluna LID_S_n.

NÃ£o existem valores nulos na coluna B_BLOK_S_n.

NÃ£o existem valores nulos na coluna ANT_CA_S_n.

NÃ£o existem valores nulos na coluna GEPAR_S_n.

NÃ£o existem valores nulos na coluna ASP_S_n.

NÃ£o existem valores nulos na coluna TIKL_S_n.

NÃ£o existem valores nulos na coluna TRENT_S_n.

NÃ£o existem valores nulos na coluna ZSN.

In [7]:
df.head()

,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,GB,SIM_GIPERT,DLIT_AG,ZSN_A,...,NOT_NA_2_n,NOT_NA_3_n,LID_S_n,B_BLOK_S_n,ANT_CA_S_n,GEPAR_S_n,ASP_S_n,TIKL_S_n,TRENT_S_n,ZSN
0,77,1,2,1,1,2,3,0,7,0,...,0,0,1,0,0,1,1,0,0,0
1,55,1,1,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,0,1,0
2,52,1,0,0,0,2,2,0,2,0,...,2,2,1,1,0,1,1,0,0,0
3,68,0,0,0,0,2,2,0,3,1,...,0,0,0,0,1,1,1,0,0,1
4,60,1,0,0,0,2,3,0,7,0,...,0,0,0,0,1,0,1,0,1,0

Salvando o dataset tratado em um arquivo.csv.

In [8]:
dataset = 'dataset_tratado.csv'
df.to_csv(dataset, index=False)